:root{
    --theme-bg-color: #000000;
    --theme-color: #FFFFFF;
    --btn-bg-color: #6A98F0;
    --btn-hover-bg-color: #FFFFFF;
    --btn-hover-color: #000000;
    --link-text-color: #000000;
    --h1-desktop-heading: 25px;
    --h1-mobile-heading: 20px;
    --h3-desktop-heading: 25px;
    --h3-mobile-heading: 17px;
    --button-mobile: 15px;
    --button-desktop: 17px
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--theme-bg-color);
    color: var(--theme-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

@keyframes heartBeat{
    0%{
      transform: scale(1);
    }
  
    14%{
      transform: scale(1.3);
    }
  
    28%{
      transform: scale(1);
    }
  
    42%{
      transform: scale(1.3);
    }
  
    70%{
      transform: scale(1);
    }
}
  
.link{
    text-decoration: none;
    color: var(--link-text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Navbar*/
.navbar{
    background-color: #303030;
    position: fixed;
    width: 100%;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}

.navbar-link{
    color: #FFFFFF;
    font-weight: bold;
    font-size: var(--h3-mobile-heading);
    cursor: pointer;
}

.navbar-link:hover{
    border: 2px solid #303030;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    color: var(--btn-hover-color);
    padding: 10px;
}

.nav-item{
    padding: 10px 15px;
}

@media screen and (min-width: 600px){
    .nav-list{
        margin-left: 0;
    }
    .nav-item{
        padding: 10px 25px; 
    }
}

/* Home Section */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    line-height: 25px;
    min-width: 250px;
}

#my-greeting, #my-headline{
    font-size: var(--h3-mobile-heading);
}

#my-name{
    font-size: var(--h1-mobile-heading);
    text-transform: uppercase;
}

#talk-button, #resume-button{
    background-color: var(--btn-bg-color);
    cursor: pointer;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 7px;
    font-size: var(--button-mobile);
    height: 50px;
    font-weight: bold;
}

#talk-button:hover, #resume-button:hover{
    background-color: var(--btn-hover-bg-color);
}

#my-bitmoji{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

#my-bitmoji:hover{
    animation-name: heartBeat;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@media screen and (min-width: 600px){
    #home{
        flex-direction: row;
        line-height: 20px;
        text-align: left;
        margin-left: 50px;
    }
    #my-greeting, #my-headline{
        font-size: var(--h3-desktop-heading);
    }
    #my-name{
        font-size: var(--h1-desktop-heading);
    }
    #talk-button, #resume-button{
        font-size: var(--button-desktop);
        padding: 10px;
    }
    #my-bitmoji{
        height: 400px;
        width: 300px;
    }
} 

/* Skills Section */
#skills-heading{
    margin-top: 100px;
    text-align: center;
    /* margin-left: 250px; */
    font-size: var(--h1-mobile-heading);
    text-transform: uppercase;
}

.skill-list{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* margin-left: 250px; */
}

.skill-item{
    text-align: center;
}

.skill{
    font-size: 12px;
}

.skill-logo{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

@media screen and (min-width: 600px){
    #skills-heading{
        margin-left: 0;
        font-size: var(--h1-desktop-heading);
    }
    .skill-list{
        flex-direction: row;
        margin-left: 0;
    }
    .skill{
        text-align: center;
        font-size: 14px;
    }
}

/* Projects Section */
#projects-heading{
    margin-top: 100px;
    text-align: center;
    /* margin-left: 250px; */
    font-size: var(--h1-mobile-heading);
    text-transform: uppercase;
}

.project-item{
   border: 2px solid #FFFFFF;
   border-radius: 7px;
   margin-bottom: 100px;
   width: 100%;
}

.project-image{
    width: 100%;
    height: 300px;
}

.project-title{
    font-size: var(--h3-mobile-heading);
    text-align: center;
}

.project-description{
    font-size: 17px;
    padding: 0 20px;
    width: fit-content;
}

.project-capsules{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    text-align: center;
} 

.capsule{
    border: 2px solid #000000;
    border-radius: 15px;
    background-color: #808080;
    color: #FFFFFF;
    margin: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

.project-links{
    padding: 0 13px;
}

.project-link-btn{
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    margin: 7px;
    padding: 7px 15px;
    cursor: pointer;
    font-weight: bold;
}

.project-link-btn:hover{
    background-color: var(--btn-hover-bg-color);
}

@media screen and (min-width: 600px){
    #projects-heading{
        margin-left: 0;
    }
    .project-item{
        margin: 50px auto;
        width: 600px;
    }
    .capsule{
        margin: 10px;
    }
}

#contact-heading{
    margin-top: 100px;
    text-align: center;
    /* margin-left: 250px; */
    font-size: var(--h1-mobile-heading);
    text-transform: uppercase;
}

#contact{
    display: flex;
    justify-content: center;
    /* margin-left: 250px; */
}

.contact-btn{
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    margin: 7px;
    padding: 7px 15px;
    cursor: pointer;
    font-weight: bold;
}

.contact-btn:hover{
    background-color: #FFFFFF;
}

.far, .fab, .fas{
    font-size: 25px;
}

@media screen and (min-width: 600px){
    #contact-heading, #contact{
        margin-left: 0;
    }
}

/* Footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    width: 100px;
    height: 100px;
}

.footer-text{
    font-size: 15px;
}





